* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round';
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.material-icons {
  cursor: pointer;
}

html, body {
  height: 100%;
}

header {
  position: sticky;
  top: 0;
  background-color: #34495e;
  font-size: 20px;
  color: #fff;
}

header div {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

header .material-icons {
  margin-right: 10px;
}

.material-icons {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

h2 {
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  margin-bottom: 20px;
}

.inputs select, .inputs input {
  padding: 10px;
  background-color: #efefef;
  border: none;
}

.inputs select {
  width: 100%;
  border-radius: 5px 0 0 5px;
}

.inputs input {
  background-color: #34495e;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.content {
  margin-top: 60px;
  padding: 20px;
  min-height: 100%;
  max-width: 800px;
  margin: auto;
}

.vers-number {
  font-size: 12px;
}

.text p {
  font-family: 'Gideon Roman';
  margin-bottom: 5px;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: #eee;
  font-size: 20px;
  color: #34495e;
}

.footer div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
