* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round';
}

header {
  background-color: #34495e;
  color: #fff;
  padding: 20px;
}

.content {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.plan {
  background-color: #efefef;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.cover img {
  max-width: 100%;
}

.name {
  margin: 20px;
  font-size: 23px;
  text-align: center;
}

.material-icons {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
