* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round';
}

header {
  background-color: #34495e;
  color: #fff;
  padding: 20px;
}

.content {
  padding: 20px;
}

.plan {
  background-color: #efefef;
  border-radius: 5px;
  overflow: hidden;
}

.cover img {
  max-width: 100%;
}

.name {
  margin: 20px;
  font-size: 23px;
  text-align: center;
}