.page-enter-active,
.page-leave-active {
 transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
 opacity: 0;
}

* {
  accent-color: #374151;
}

/* Hide Scrollbar */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.max-w-800 {
  max-width: 800px;
}
